<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <AssemblyName>cli</AssemblyName>
  </PropertyGroup>
  <ItemGroup>
    <ProjectReference Include="../Skill/Skill.csproj" />
  </ItemGroup>
</Project>
